* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

header, main, aside, footer, section {
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

body {
    display: grid;
    grid-template:
        "a a"
        "b c"
        "d d" / 3.5fr 1.5fr;
}

@media (max-width: 800px) {
    body {
        display: grid;
        grid-template:
            "a"
            "c"
            "b"
            "d";
    }
}

header { grid-area: a; }
main { grid-area: b; }
aside { grid-area: c; }
footer { grid-area: d; }

header {
    display: flex;
    flex-direction: row;
}

header section {
    flex: 1;
}

/* header {
    display: grid;
    grid-template: "a b c d e";
} */

main {
    display: grid;
    grid-template:
        "a b"
        "c d" / 1fr 2fr;
}

@media (max-width: 500px) {
    main {
        display: grid;
        grid-template:
            "a a"
            "b b"
            "c d" / 1fr 2fr;
    }
}

#main-1 { grid-area: a; }
#main-2 { grid-area: b; }
#main-3 { grid-area: c; }
#main-4 { grid-area: d; }